/* body {
  background-color: rgb(187, 179, 179);
} */
#data {
  display: inline;
}
#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blue;
  /* margin-top: 40px; */
  /* width: 90%; */
  height: auto;
}
#inputContainer {
  padding-top: 10px;
  /* margin-top: 100px; */
  /* width: 600px; */
  background-color: azure;
  border: 2px solid rgb(51, 50, 50);
  border-radius: 10px;
  margin-bottom: 40px;
}
#sendbtn,
#dltbtn {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#showdata {
  /* margin-top: 10px; */
  display: flex;
}
#totalAmount {
  display: flex;
  color: black;
  font-size: large;
  justify-content: center;
  text-align: center;
  font-size: large;
  margin-top: 10px;
  padding-bottom: 10px
}

#icon {
  background-color: red;
  display: flex;
  justify-content: center;
  text-align: center;
}

.itemshow{
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid rgb(255, 247, 247);
  border-radius: 3px;
  margin: 10px 20px;
  color: black;
  font-size: large;
}